@import url("/static/fonts/inter.css");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  overflow-wrap: anywhere;
  --theme-color: #157efb;
  --border-color: #dadada;
  --editor: #ffffff;
  --bar: #f4f4f4;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  body {
    --border-color: #393b3d;
    --bar: #2d2f31;
    --editor: #202124;
    color: #ffffff;
  }
}

.spacer {
  margin-top: 30px;
}

.credit {
  position: fixed;
  left: 5px;
  color: white;
  z-index: -1;
  margin: 0;
  bottom: 5px;
  text-shadow: black 1px 1px 5px;
}

.background {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.newoauth, .oauthlist, .oauthentry {
  width: calc(100% - 17.5vh);
  margin-top: 7vh;
  margin-left: 7vh;
  margin-right: 7vh;
  padding: 15px 10px 30px;
  border-style: solid;
  border-image: none;
  border-radius: 8px;
  border-width: 1px;
  font-size: 17px;
  background-color: var(--bar);
  border-color: var(--border-color);
}

.oauthentry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.oauthentry button {
  padding: 10px;
  background-color: red;
  color: white
}

.oauthentry button:hover {
  background-color: black;
}

button {
  background-color: var(--theme-color);
  color: white;
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}

button:hover {
  background-color: #152efb;
  transition: all 0.3s ease 0s;
}

h2 {
  display: block;
  margin-top: 20px;
  font-weight: 300;
}

input {
    width: calc(100% - 120px);
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border: solid;
    border-color: var(--border-color);
    border-width: 1px;
    border-radius: 8px;
    background-color: var(--editor);
}
