@import url("../fonts/inter.css");

:root {
    --invertdm: 0%;
    --text-color: #000000;
    --editor: #ffffff;
    --bar: #f4f4f4;
    --border-color: #dadada;
    --theme-color: #157efb;
    --hover-theme-color: #4990e7;
    --nonimporant-theme-color: #4A4A4A;
    --hover-nonimportant-theme-color: #595959;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        --invertdm: 100%;
        --bar: #2d2f31;
        --text-color: #ffffff;
        --editor: #1E1E1E;
        --border-color: #393b3d;
    }

    .inoutdiv p {
        color: white !important;
    }

    .inoutdiv a {
        color: #969696 !important;
    }

    .inoutdiv input {
        color: white;
        background-color: var(--editor);
    }
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    white-space: break-spaces;
}

body {
    margin: 0;
    background-color: var(--editor);
    font-family: "Inter", sans-serif;
}

/* Sign up/log in div */

.inoutdiv {
    border-radius: 8px;
    margin: 10%;
    padding: 30px;
    border: solid 1px var(--border-color);
    background-color: var(--bar);
}

input {
    width: calc(100% - 120px);
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border: solid;
    border-color: var(--border-color);
    border-width: 1px;
    border-radius: 8px;
    min-width: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--bar);
    }
    .inoutdiv {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        min-width: 100%;
        min-height: 100%;
        transform: none;
        padding: 5px;
        overflow-y: auto;
        overflow-x: auto;
        margin: 0;
        border: 0;
    }
    .inoutdiv p {
        font-size: 14px;
    }
    .inoutdiv h2 {
        font-size: 21px;
    }
    .background {
        display: none;
    }
    .inoutdiv input {
        width: calc(100% - 32px);
    }
}

.inoutdiv button {
    color: white;
    margin-right: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    transition: 0.125s;
}

.inoutdiv img {
    min-width: 200px;
    max-width: 100%;
    border-radius: 20px;
    background-color: white;
}

.iframe {
    position: fixed;
    right: 5px;
    top: 47px;
    border: none;
    height: 276px;
    width: 400px;
    transform: translateX(26px);
}

.acctbutton {
    position: fixed;
    right: 5px;
    margin: 0;
}

.spacer {
    margin-top: 30px;
}

.credit {
    position: fixed;
    left: 5px;
    color: white;
    z-index: -1;
    margin: 0;
    bottom: 5px;
    text-shadow: black 1px 1px 5px;
}

.newoauth, .oauthlist, .oauthentry {
    text-align: center;
    width: calc(100% - 17.5vh);
    margin-top: 7vh;
    margin-left: 7vh;
    margin-right: 7vh;
    padding: 15px 10px 30px;
    border-style: solid;
    border-image: none;
    border-radius: 8px;
    border-width: 1px;
    font-size: 17px;
    background-color: var(--bar);
    border-color: var(--border-color);
}

.oauthentry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.oauthentry button {
    padding: 10px;
    background-color: red;
    color: white
}

.oauthentry button:hover {
    background-color: black;
}

button {
    background-color: var(--theme-color);
    color: white;
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

button:hover {
    background-color: var(--hover-theme-color);
    transition: all 0.3s ease 0s;
}

.unimportant {
    var(--nonimporant-theme-color);
}

.unimportant:hover {
    background-color: var(--hover-nonimportant-theme-color);
    transition: all 0.3s ease 0s;
}

h2 {
    display: block;
    margin-top: 20px;
    font-weight: 300;
}

.inoutdiv a {
    color: grey;
    text-align: center;
}

.background {
    position: fixed;
    z-index: -2;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.w100 {
    font-weight: 300;
}

.w200 {
    font-weight: 300;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}

.w900 {
    font-weight: 900;
}
