<!DOCTYPE html>
<html lang="en"><head>
        <link rel="stylesheet" href="/static/css/dashboard.css" media="">
        <script src="/static/js/dashboard.js"></script>
        <title>Dashboard</title>
    </head>
    <body>
        <script>
        async function deleteacct() {
            await fetch(remote + "/api/deleteaccount", {
                method: "POST",
                body: JSON.stringify({
                    "secretKey": localStorage.getItem("DONOTSHARE-secretkey")
                }),
                headers: {
                    "Content-Type": "application/json; charset=UTF-8"
                }
            })
            .then((response) => response)
            .then((response) => {
                async function doStuff() {
                    if (response.status === 200) {
                        parent.window.location.href = '/logout';
                    }
                }
                doStuff()
            });
        }
        </script>
        <div class="newoauth" style="margin: 0;">
            <h2>Account settings</h2>
            <p>Name: </p>
            <p>Created: </p>
            <button onclick="parent.window.location.href = '/logout';">Logout</button><br style="">
            <button onclick="deleteacct()" style="margin-top: 5px;">Delete Account</button>
        </div>
</body></html>
