<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/dashboard.css" media="">
        <script src="/static/js/dashboard.js"></script>
        <title>Dashboard</title>
    </head>
    <body>
        <p class="credit">Image by perga (@pergagreen on discord)</p>
        <img src="/static/img/background.jpg" class="background" alt="">
        <div style="position: fixed;top: 0;"><button onclick="document.getElementById('iframe').classList.toggle('hidden');" class="acctbutton">Account</button><iframe id="iframe" src="/account" class="iframe hidden"></iframe></div>
        <div class="newoauth">
            <h2>Submit a new OAuth2 App</h2>
            <p id="status"></p>
            <p>App Name:</p>
            <input id="appidbox">
            <p>Redirect URI:</p>
            <input id="rdiruribox">
            <br>
            <button style="margin-top: 10px;" onclick="attempt()">Submit</button>
        </div>
        <div class="oauthlist" id="oauthlist">
            <h2>Your existing apps</h2>
        </div>
    </body>
</html>
