<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <title>Exchange Key - {{ .identifier }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/svg/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/keyexchangetester.js"></script>
</head>
<body>
    <img src="/static/img/background.png" class="background" alt="">
    <div class="inoutdiv">
        <h2>Communicating with Burgerauth, please wait...</h2>
    </div>
</body>
</html>

