<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tester - {{ .identifier }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/svg/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/testapp.js"></script>
</head>
<body>
    <p style="display: none;" id="client_id">{{ .client_id }}</p>
    <p style="display: none;" id="server_uri">{{ .server_uri }}</p>
    <img src="/static/img/background.png" class="background" alt="">
    <div class="inoutdiv">
        <h2 id="text">{{ .identifier }} Tester</h2>
        <button onclick="authorize()">Authorize</button>
    </div>
</body>
</html>
